.background_container {
  background-color: #000000;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login_error {
  color: red;
}

.form_box {
  background-color: #202020;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 9px;
}

.userbox {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  color: white;
}
.img_container {
  width: 100%;
  text-align: center;
}

.jobby_logo {
  width: 70px;
  margin-bottom: 30px;
}

.form_label_input {
  background-color: transparent;
  border: 1px solid #64748b;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-left: 5px;
  color: white;
}

.form_label_head {
  font-size: 10px;
  margin-bottom: 17px;
}

.login_button {
  background-color: #4f46e5;
  border-radius: 5px;
  border: none;
  color: white;
  margin-top: 20px;
  height: 35px;
}

@media (min-width: 992px) {
  .form_box {
    width: 350px;
  }
}
