.text1 {
  color: white;
}

.profile_container {
  margin-top: 30px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  padding: 20px;
  background-size: cover;
  height: 210px;
  border-radius: 20px;
  width: 100%;
}
